backup-n8n-workflows-by-tags.json
{
  "name": "Backup n8n workflows by Tags (Folders)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const workflows = $input.all();\nconst results = [];\n\nfor (const workflow of workflows) {\n  const wf = workflow.json;\n  \n  // Obtener el nombre del folder basado en tags\n  let folderName = 'uncategorized';\n  \n  if (wf.tags && wf.tags.length > 0) {\n    // Usar todos los tags como ruta de carpetas\n    folderName = wf.tags\n      .map(tag => {\n        const name = tag.name || tag;\n        return name.replace(/[\\\\/:*?\"<>|]/g, '-').trim();\n      })\n      .join('/');\n  }\n  \n  // Limpiar el nombre del workflow para usarlo como nombre de archivo\n  const cleanName = wf.name\n    .replace(/\\s+/g, '-')\n    .replace(/[\\\\/:*?\"<>|]/g, '')\n    .toLowerCase();\n  \n  // Crear la ruta completa: folder/workflow-name-id.json\n  const filePath = `${folderName}/${cleanName}-${wf.id}.json`;\n  \n  // Crear una copia limpia del workflow (sin el campo _filePath interno)\n  const cleanWorkflow = { ...wf };\n  delete cleanWorkflow._folderName;\n  delete cleanWorkflow._fileName;\n  delete cleanWorkflow._filePath;\n  \n  results.push({\n    json: {\n      ...cleanWorkflow,\n      _folderName: folderName,\n      _fileName: `${cleanName}-${wf.id}.json`,\n      _filePath: filePath\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "8a511307-351e-4fa3-b712-45fa38c65d40",
      "name": "Add Folder Info (from Tags)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        1472
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-sha",
              "leftValue": "={{ $json._fileExists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b85b4de2-c5da-4e00-9eb6-b53934d543b6",
      "name": "File exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3584,
        1456
      ]
    },
    {
      "parameters": {},
      "id": "244b9e2f-db74-4503-94a9-040aa6b47bf0",
      "name": "Continue Loop",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4496,
        1632
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6a96f854-a521-4080-88c5-21668177df39",
      "name": "Set date1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1712,
        1472
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy-HHmm",
        "options": {}
      },
      "id": "11bec70a-e140-4791-ad44-098472aaa17c",
      "name": "Format date1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1904,
        1472
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "commitDate",
              "value": "={{ $json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6cca9c21-8356-4e49-b1d6-0fa376bf313d",
      "name": "Set commit date1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2112,
        1472
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "67cc350f-2955-46b4-bdc8-ad4d82036e75",
      "name": "Retrieve workflows [N8N]1",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        2304,
        1472
      ],
      "credentials": {
        "n8nApi": {
          "id": "YOUR_N8N_CREDENTIAL_ID",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a8d4c4b7-fecc-4d39-a6cc-b644b2219185",
      "name": "Split to single items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        2800,
        1472
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        1472
      ],
      "id": "cc976055-8f39-4edf-8357-fa56976bfab0",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Build Repo Name').item.json._repoFullPath }}/contents/{{ $('Prepare Data for GitHub').item.json._filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"message\": \"update: \" + $json._fileName + \" - \" + $json._commitDate, \"content\": $json._content, \"sha\": $json._sha }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4000,
        1296
      ],
      "id": "4fc2a30a-9207-4624-a96f-30f10986d890",
      "name": "HTTP Request - Update",
      "credentials": {
        "githubOAuth2Api": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Build Repo Name').item.json._repoFullPath }}/contents/{{ $json._filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"message\": \"create: \" + $json._fileName + \" - \" + $('Set commit date1').item.json.commitDate,\n  \"content\": $json._content }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4032,
        1680
      ],
      "id": "8e2e147c-05c5-4bc3-8dd6-879a2a536cc6",
      "name": "HTTP Request - Create",
      "credentials": {
        "githubOAuth2Api": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub OAuth2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Build Repo Name').item.json._repoFullPath }}/contents/{{ $json._filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3152,
        1456
      ],
      "id": "7c723205-b315-414a-bedf-d37d4769e021",
      "name": "HTTP Request - Check if file exists",
      "credentials": {
        "githubOAuth2Api": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub OAuth2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": " // Obtener datos originales del workflow\n  const originalData = $('Add Folder Info (from Tags)').item.json;\n\n  // Verificar si el archivo existe\n  const githubResponse = $input.item.json;\n  const fileExists = !!(githubResponse.sha);\n  const sha = githubResponse.sha || null;\n\n  // Crear copia limpia del workflow\n  const workflowToSave = { ...originalData };\n  delete workflowToSave._filePath;\n  delete workflowToSave._fileName;\n  delete workflowToSave._folderName;\n  delete workflowToSave.shared;\n  delete workflowToSave.activeVersion;\n  delete workflowToSave.activeVersionId;\n  delete workflowToSave.staticData;\n\n  // Convertir a base64\n  const newContent = JSON.stringify(workflowToSave, null, 2);\n  const base64Content = Buffer.from(newContent).toString('base64');\n\n  // Comparar con contenido existente en GitHub\n  let hasChanges = true;\n  if (fileExists && githubResponse.content) {\n    // Decodificar contenido de GitHub (viene en base64)\n    const existingContent = Buffer.from(githubResponse.content, 'base64').toString('utf8');\n    hasChanges = existingContent !== newContent;\n  }\n\n  return {\n    json: {\n      _filePath: originalData._filePath,\n      _fileName: originalData._fileName,\n      _fileExists: fileExists,\n      _hasChanges: hasChanges,\n      _sha: sha,\n      _content: base64Content\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        1456
      ],
      "id": "5ddf5afd-3759-4488-8e93-1b41763230cc",
      "name": "Prepare Data for GitHub"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Build Repo Name').item.json._repoFullPath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        1472
      ],
      "id": "b12bf70d-da2f-40c3-b93d-1946bf5b3775",
      "name": "HTTP Request - Check Repo",
      "credentials": {
        "githubOAuth2Api": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub OAuth2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.github.com/user",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        1472
      ],
      "id": "7a5d56a9-22b0-4043-96ca-f092d3df665a",
      "name": "HTTP Request - Get GitHub User",
      "credentials": {
        "githubOAuth2Api": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const githubUser = $('HTTP Request - Get GitHub User').item.json.login;\n  const n8nUrl = $('Config').item.json.n8nBaseUrl;\n\n  // Extraer identificador único de la URL de n8n\n  // https://n8n-n8n.zghpjc.easypanel.host → zghpjc\n  const n8nIdentifier = n8nUrl\n    .replace('https://', '')\n    .replace('http://', '')\n    .split('.')[1] || 'default';\n\n  const repoName = `${githubUser}-n8n-backup-${n8nIdentifier}`;\n\n  return {\n    json: {\n      _repoName: repoName,\n      _repoFullPath: `${githubUser}/${repoName}`,\n      _githubUser: githubUser,\n      _n8nInstance: n8nUrl,\n      _n8nIdentifier: n8nIdentifier\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        1472
      ],
      "id": "0240d522-5f1e-49f2-a52e-e26132c12fca",
      "name": "Build Repo Name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "757780ef-e3a8-4f75-90da-4441a2315425",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        1472
      ],
      "id": "1662ac9b-9083-467a-a275-ee9820be45c4",
      "name": "Repo Exists?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/user/repos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n    \"name\": $('Build Repo Name').item.json._repoName,\n    \"description\": \"Automatic backup of n8n workflows\",\n    \"private\": true,\n    \"auto_init\": true\n  }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        1568
      ],
      "id": "fc7b0893-a5d4-469d-b389-c4b0dc23939c",
      "name": "HTTP Request - Create Repo",
      "credentials": {
        "githubOAuth2Api": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub OAuth2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1408,
        1472
      ],
      "id": "89f7979d-db65-47bc-a30c-281bdbaa9a69",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        1568
      ],
      "id": "0bb77949-2769-46a6-a9bc-f316018c2c69",
      "name": "Wait"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f2c979f-bf8a-4114-8851-d2a70f697865",
              "name": "n8nBaseUrl",
              "value": "https://your-n8n-instance.example.com/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        1472
      ],
      "id": "629a0356-c716-4763-9296-9c1a1024b52f",
      "name": "Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b94f41f-d2c8-4be8-9043-49758ccd1d27",
              "leftValue": "={{ $json._hasChanges }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3792,
        1360
      ],
      "id": "2a006133-1179-41be-a7f5-e01bda71ca52",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4032,
        1472
      ],
      "id": "abd1fc29-52a3-4b4e-a8f2-ac5c4ad61ce2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## 🔄 Automatic Backup of n8n Workflows → GitHub\n\nAutomatically backs up all your n8n workflows to a private GitHub repository, organized into folders based on Tags.\n\n**Features:**\n- Auto-creates the repository if it doesn't exist\n- Dynamic repo name: {github-user}-n8n-backup-{n8n-instance}\n- Organizes workflows into folders by Tags\n- Only updates files that actually changed\n- Supports multiple n8n instances",
        "height": 368,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        1008
      ],
      "typeVersion": 1,
      "id": "a2b41ad7-d9e7-4e77-ab8b-5b9796879d9e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 📋 Step by Step Flow\n\n1. **Config** → Set your n8n instance base URL\n2. **Get GitHub User** → Gets your GitHub username\n3. **Build Repo Name** → Builds unique repo name\n4. **Check/Create Repo** → Checks if exists, creates if not\n5. **Retrieve Workflows** → Gets all workflows from n8n\n6. **Add Folder Info** → Assigns folder based on Tags\n7. **Check File Exists** → Checks if already in GitHub\n8. **Compare & Update** → Only updates if changed",
        "height": 272,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        1024
      ],
      "typeVersion": 1,
      "id": "8e424f11-2be3-4bb5-b709-855419a467d9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 📁 GitHub Structure\n\nrepo-name/\n├── Tag1/\n│   ├── workflow-one-abc123.json\n│   └── workflow-two-def456.json\n├── Tag2/\n│   └── another-workflow-ghi789.json\n└── uncategorized/\n    └── workflows-without-tags.json\n\n💡 The FIRST tag = folder name\n\n---\n\n## ⚙️ Required Configuration\n\n1. **\"Config\" Node:**\n   Change n8nBaseUrl to your n8n URL\n\n2. **Credentials:**\n   - n8n API: Configured with API Key\n   - GitHub OAuth2: With repo permissions\n\n3. **Tags in n8n:**\n   Add tags to your workflows to organize them\n\n4. **Execution:**\n   Manual or schedule with Schedule Trigger",
        "height": 700,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        992
      ],
      "typeVersion": 1,
      "id": "6be695bd-3941-4d4a-90b7-86da5c4c9923",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 🔍 Smart Logic\n\n| Scenario | Action |\n|----------|--------|\n| File doesn't exist | CREATE |\n| Exists + changed | UPDATE |\n| Exists + no changes | SKIP |\n\n✅ Avoids unnecessary commits\n✅ Reduces API calls\n✅ Clean Git history",
        "height": 288,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        1024
      ],
      "typeVersion": 1,
      "id": "547b7f58-aeca-46dc-afe7-1a5edf874c9f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        1664
      ],
      "id": "be6aa4de-4c38-4b08-a08d-0000ac03f6f2",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Add Folder Info (from Tags)": {
      "main": [
        [
          {
            "node": "Split to single items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File exists?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Loop": {
      "main": [
        [
          {
            "node": "Split to single items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set date1": {
      "main": [
        [
          {
            "node": "Format date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format date1": {
      "main": [
        [
          {
            "node": "Set commit date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set commit date1": {
      "main": [
        [
          {
            "node": "Retrieve workflows [N8N]1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows [N8N]1": {
      "main": [
        [
          {
            "node": "Add Folder Info (from Tags)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to single items1": {
      "main": [
        [
          {
            "node": "HTTP Request - Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Update": {
      "main": [
        [
          {
            "node": "Continue Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create": {
      "main": [
        [
          {
            "node": "Continue Loop",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request - Check if file exists": {
      "main": [
        [
          {
            "node": "Prepare Data for GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for GitHub": {
      "main": [
        [
          {
            "node": "File exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get GitHub User": {
      "main": [
        [
          {
            "node": "Build Repo Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Check Repo": {
      "main": [
        [
          {
            "node": "Repo Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Repo Name": {
      "main": [
        [
          {
            "node": "HTTP Request - Check Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repo Exists?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Create Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Repo": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "HTTP Request - Get GitHub User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request - Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Split to single items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
