n8n/Backup/backup-n8n-workflows-by-tags.json
{
  "name": "Backup n8n workflows by Tags (Folders)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const workflows = $input.all();\nconst results = [];\n\nfor (const workflow of workflows) {\n  const wf = workflow.json;\n  \n  // Obtener el nombre del folder basado en tags\n  let folderName = 'uncategorized';\n  \n  if (wf.tags && wf.tags.length > 0) {\n    // Usar todos los tags como ruta de carpetas\n    folderName = wf.tags\n      .map(tag => {\n        const name = tag.name || tag;\n        return name.replace(/[\\\\/:*?\"<>|]/g, '-').trim();\n      })\n      .join('/');\n  }\n  \n  // Limpiar el nombre del workflow para usarlo como nombre de archivo\n  const cleanName = wf.name\n    .replace(/\\s+/g, '-')\n    .replace(/[\\\\/:*?\"<>|]/g, '')\n    .toLowerCase();\n  \n  // Crear la ruta completa: folder/workflow-name-id.json\n  const filePath = `${folderName}/${cleanName}-${wf.id}.json`;\n  \n  // Crear una copia limpia del workflow (sin el campo _filePath interno)\n  const cleanWorkflow = { ...wf };\n  delete cleanWorkflow._folderName;\n  delete cleanWorkflow._fileName;\n  delete cleanWorkflow._filePath;\n  \n  results.push({\n    json: {\n      ...cleanWorkflow,\n      _folderName: folderName,\n      _fileName: `${cleanName}-${wf.id}.json`,\n      _filePath: filePath\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "ad32067a-58e7-4fc6-804e-e23fc338e006",
      "name": "Add Folder Info (from Tags)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1488
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-sha",
              "leftValue": "={{ $json._fileExists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "449f5012-d0a1-47ed-8ff5-262cbc8117c3",
      "name": "File exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2272,
        1168
      ]
    },
    {
      "parameters": {},
      "id": "d2be91a6-3de5-4f86-a455-40f70d47d6e1",
      "name": "Continue Loop",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2928,
        1440
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dfca3b62-2e5d-42e8-b1a9-fbc2b7aea976",
      "name": "Set date1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2912,
        832
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy-HHmm",
        "options": {}
      },
      "id": "99559af4-c4c4-48af-be80-97d63cea3f89",
      "name": "Format date1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        976,
        1488
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "commitDate",
              "value": "={{ $json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "93f319ea-e2bc-4581-ac87-e1587a5a639f",
      "name": "Set commit date1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1152,
        1488
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "280aec77-aa68-46f3-af07-573182bfaaa9",
      "name": "Retrieve workflows [N8N]1",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1328,
        1488
      ],
      "credentials": {
        "n8nApi": {
          "id": "pM7Yg11jHT1NrNW8",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "3fc38851-1fdd-4778-b57a-d196e44a29b7",
      "name": "Split to single items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1696,
        1488
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1152,
        736
      ],
      "id": "5ea3abc0-65b6-427c-9028-2aa1a1a47fe0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Build Repo Name').item.json._repoFullPath }}/contents/{{ $('Prepare Data for GitHub').item.json._filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"message\": \"update: \" + $json._fileName + \" - \" + $json._commitDate, \"content\": $json._content, \"sha\": $json._sha }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2656,
        1040
      ],
      "id": "bc944ca1-d2b2-4764-948e-5bfe8c4fbe0e",
      "name": "HTTP Request - Update",
      "credentials": {
        "githubOAuth2Api": {
          "id": "86roBdpjvO3EoWs4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Build Repo Name').item.json._repoFullPath }}/contents/{{ $json._filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"message\": \"create: \" + $json._fileName + \" - \" + $('Set commit date1').item.json.commitDate,\n  \"content\": $json._content }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2656,
        1456
      ],
      "id": "30743240-011b-4c6b-af76-b3998558ba31",
      "name": "HTTP Request - Create",
      "credentials": {
        "githubOAuth2Api": {
          "id": "86roBdpjvO3EoWs4",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Build Repo Name').item.json._repoFullPath }}/contents/{{ $json._filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1888,
        1168
      ],
      "id": "d8d5ee20-e649-4050-a6c8-0a699e490bfa",
      "name": "HTTP Request - Check if file exists",
      "credentials": {
        "githubOAuth2Api": {
          "id": "86roBdpjvO3EoWs4",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": " // Obtener datos originales del workflow\n  const originalData = $('Add Folder Info (from Tags)').item.json;\n\n  // Verificar si el archivo existe\n  const githubResponse = $input.item.json;\n  const fileExists = !!(githubResponse.sha);\n  const sha = githubResponse.sha || null;\n\n  // Crear copia limpia del workflow\n  const workflowToSave = { ...originalData };\n  delete workflowToSave._filePath;\n  delete workflowToSave._fileName;\n  delete workflowToSave._folderName;\n  delete workflowToSave.shared;\n  delete workflowToSave.activeVersion;\n  delete workflowToSave.activeVersionId;\n  delete workflowToSave.staticData;\n\n  // Convertir a base64\n  const newContent = JSON.stringify(workflowToSave, null, 2);\n  const base64Content = Buffer.from(newContent).toString('base64');\n\n  // Comparar con contenido existente en GitHub\n  let hasChanges = true;\n  if (fileExists && githubResponse.content) {\n    // Decodificar contenido de GitHub (viene en base64)\n    const existingContent = Buffer.from(githubResponse.content, 'base64').toString('utf8');\n    hasChanges = existingContent !== newContent;\n  }\n\n  return {\n    json: {\n      _filePath: originalData._filePath,\n      _fileName: originalData._fileName,\n      _fileExists: fileExists,\n      _hasChanges: hasChanges,\n      _sha: sha,\n      _content: base64Content\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        1168
      ],
      "id": "97cab88a-4b15-43ad-ac24-45469baedfa7",
      "name": "Prepare Data for GitHub"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Build Repo Name').item.json._repoFullPath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1888,
        832
      ],
      "id": "f4a1d1f1-06f4-4fbc-9e79-ca8bb4ef04c2",
      "name": "HTTP Request - Check Repo",
      "credentials": {
        "githubOAuth2Api": {
          "id": "86roBdpjvO3EoWs4",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.github.com/user",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1504,
        832
      ],
      "id": "b0c5d48a-af70-4f45-a4a0-5aa2ec7af35c",
      "name": "HTTP Request - Get GitHub User",
      "credentials": {
        "githubOAuth2Api": {
          "id": "86roBdpjvO3EoWs4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const githubUser = $('HTTP Request - Get GitHub User').item.json.login;\n  const n8nUrl = $('Config').item.json.n8nBaseUrl;\n\n  // Extraer identificador único de la URL de n8n\n  // https://n8n-n8n.zghpjc.easypanel.host → zghpjc\n  const n8nIdentifier = n8nUrl\n    .replace('https://', '')\n    .replace('http://', '')\n    .split('.')[1] || 'default';\n\n  const repoName = `${githubUser}-n8n-backup-${n8nIdentifier}`;\n\n  return {\n    json: {\n      _repoName: repoName,\n      _repoFullPath: `${githubUser}/${repoName}`,\n      _githubUser: githubUser,\n      _n8nInstance: n8nUrl,\n      _n8nIdentifier: n8nIdentifier\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        832
      ],
      "id": "743f51b5-ae50-4629-be8d-cf7727e7d760",
      "name": "Build Repo Name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "757780ef-e3a8-4f75-90da-4441a2315425",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        832
      ],
      "id": "98ae8078-d840-45e8-bd98-37157e983661",
      "name": "Repo Exists?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/user/repos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n    \"name\": $('Build Repo Name').item.json._repoName,\n    \"description\": \"Backup automático de workflows n8n\",\n    \"private\": true,\n    \"auto_init\": true\n  }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2272,
        880
      ],
      "id": "92e11518-dc24-4046-9027-7f21dc19eeb9",
      "name": "HTTP Request - Create Repo",
      "credentials": {
        "githubOAuth2Api": {
          "id": "86roBdpjvO3EoWs4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2720,
        832
      ],
      "id": "9983245e-88ad-46c6-84eb-927dcd0c0de1",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2480,
        880
      ],
      "id": "4cc3df08-ad84-4eb3-a449-db750094d3b0",
      "name": "Wait",
      "webhookId": "58a1fc17-f74a-4e48-a0f3-50b2ee4e92e5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f2c979f-bf8a-4114-8851-d2a70f697865",
              "name": "n8nBaseUrl",
              "value": "https://n8n.terragene.com/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        832
      ],
      "id": "fe15dfa6-5f13-4b82-9c7a-b57140a8d79c",
      "name": "Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b94f41f-d2c8-4be8-9043-49758ccd1d27",
              "leftValue": "={{ $json._hasChanges }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        1072
      ],
      "id": "5b82cb5a-1f9c-44bd-8ba7-358e61093c0a",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2672,
        1232
      ],
      "id": "38dfa677-0732-4af2-ae43-cedae7817f69",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": " ## 🔄 Backup Automático de Workflows n8n → GitHub\n\n  Respalda automáticamente todos tus workflows de n8n en un repositorio privado de GitHub, organizados en carpetas según los Tags.\n\n  **Características:**\n  - Crea el repositorio automáticamente si no existe\n  - Nombre del repo dinámico: {github-user}-n8n-backup-{instancia-n8n}\n  - Organiza workflows en carpetas por Tags\n  - Solo actualiza archivos que realmente cambiaron\n  - Compatible con múltiples instancias de n8n",
        "height": 624,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        384
      ],
      "typeVersion": 1,
      "id": "4e0de1e6-6c55-4a46-ac28-19bf189aa194",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": " ## 📋 Flujo Paso a Paso\n\n  1. **Config** → Define URL base de tu instancia n8n.\n  2. **Get GitHub User** → Obtiene tu usuario de GitHub\n  3. **Build Repo Name** → Construye nombre único del repo\n  4. **Check/Create Repo** → Verifica si existe, si no lo crea\n  5. **Retrieve Workflows** → Obtiene todos los workflows de n8n\n  6. **Add Folder Info** → Asigna carpeta según el primer Tag\n  7. **Check File Exists** → Verifica si ya existe en GitHub\n  8. **Compare & Update** → Solo actualiza si hay cambios",
        "height": 368,
        "width": 464,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        384
      ],
      "typeVersion": 1,
      "id": "9c8985dc-5c40-452e-88ea-534f81a0a21c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": " ## 📁 Estructura en GitHub\n\n  repo-name/\n  ├── MiTag1/\n  │   ├── workflow-uno-abc123.json\n  │   └── workflow-dos-def456.json\n  ├── MiTag2/\n  │   └── otro-workflow-ghi789.json\n  └── uncategorized/\n      └── workflows-sin-tag.json\n\n  💡 El PRIMER tag del workflow = nombre de carpeta\n\n \n\n",
        "height": 368,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        384
      ],
      "typeVersion": 1,
      "id": "437e9c50-419a-41db-ba6f-86b34c690e25",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": " ## 🔍 Lógica Inteligente\n\n  | Escenario | Acción |\n  |-----------|--------|\n  | Archivo no existe | CREATE |\n  | Existe + cambió | UPDATE |\n  | Existe + sin cambios | SKIP |\n\n  ✅ Evita commits innecesarios\n  ✅ Reduce llamadas a la API\n  ✅ Historial de Git limpio",
        "height": 368,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2752,
        384
      ],
      "typeVersion": 1,
      "id": "a6d444ad-ffb8-4445-bd2c-64459d3d90f5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1152,
        880
      ],
      "id": "e9539cf0-fb7c-4e15-ab54-a55a07369e9a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "  ## ⚙️ Configuración Requerida\n\n  1. **Nodo \"Config\":**\n     Cambiar n8nBaseUrl a tu URL de n8n\n\n  2. **Credenciales:**\n     - n8n API: Configurada con API Key\n     - GitHub OAuth2: Con permisos de repo\n\n  3. **Tags en n8n:**\n     Agregar tags a tus workflows para organizarlos\n\n  4. **Ejecución:**\n     Manual o programar con Schedule Trigger",
        "height": 368,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        384
      ],
      "typeVersion": 1,
      "id": "c92a2b90-a03e-4435-b75c-fe18bece7d1d",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Add Folder Info (from Tags)": {
      "main": [
        [
          {
            "node": "Split to single items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File exists?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Loop": {
      "main": [
        [
          {
            "node": "Split to single items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set date1": {
      "main": [
        [
          {
            "node": "Format date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format date1": {
      "main": [
        [
          {
            "node": "Set commit date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set commit date1": {
      "main": [
        [
          {
            "node": "Retrieve workflows [N8N]1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows [N8N]1": {
      "main": [
        [
          {
            "node": "Add Folder Info (from Tags)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to single items1": {
      "main": [
        [
          {
            "node": "HTTP Request - Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Update": {
      "main": [
        [
          {
            "node": "Continue Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create": {
      "main": [
        [
          {
            "node": "Continue Loop",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request - Check if file exists": {
      "main": [
        [
          {
            "node": "Prepare Data for GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for GitHub": {
      "main": [
        [
          {
            "node": "File exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get GitHub User": {
      "main": [
        [
          {
            "node": "Build Repo Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Check Repo": {
      "main": [
        [
          {
            "node": "Repo Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Repo Name": {
      "main": [
        [
          {
            "node": "HTTP Request - Check Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repo Exists?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Create Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Repo": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "HTTP Request - Get GitHub User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request - Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Split to single items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b83457c-2bc9-41d0-a411-f0dc2f05a39f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6c24afc7cbf3f16261a848ba717143e7ac9898198c58d838b429c3740ace506"
  },
  "id": "hlPDDo7JuBOjMz9J",
  "tags": [
    {
      "updatedAt": "2026-01-15T12:02:30.958Z",
      "createdAt": "2026-01-15T12:02:30.958Z",
      "id": "hn8gx5D8AvogdHp0",
      "name": "Backup"
    }
  ]
}